*{
    background-color: black;
}

.top{
    height: 3vh;
    background-color: rgb(31, 82, 82);
    color:white;
}

.con{
    margin-top: 5px;
    margin-left: 5px;
    color: white;
}
.con-title{
    /*border-bottom:1px solid white;*/
    width: 80px;
    text-decoration: underline 2px;
    margin-top: 10px;
}
.con-display{
    width: 100%;
    height: 300px;
    border-bottom: 1px solid white;
}
/*整体样式*/
a{
    text-decoration: none;
    color: white;
}